@import 'colors.scss';

// SideMenu

.side__menu {
    position: fixed;
    right: -250px;  
    width: 250px;
    height: 100%;
    background-color: $color-white;
    transition: right 0.3s ease;
    z-index: 1000;
    padding-top: 60px;
    backdrop-filter: blur(5px);

    &__content {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    &__item {
        padding: 10px;
        text-decoration: none;
        color: $color-black;
        font-size: 18px;
        transition: background-color 0.3s;

        &:hover {
            color: $color-main-hover;
        }
    }

    &.open {
        right: 0;
        top: 100px;
    }
}